.PanelCalculation{
  margin: 30px;
}
.PanelCalculation__title{
  text-align: start;
  color:black;
  font-size: 24px;
  margin-bottom: 25px;
}
.PanelCalculation_container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  .PanelCalculation_containerItem{
    width: 100%;
    height: 100%;
    min-width: 300px;
  }
  .PanelCalculation_containerItem:not(:last-child) {
    margin-right: 25px;
  }
  .PanelCalculation_containerItem:last-child {
    min-width: 100px;
  }
  .Profit_title{
    text-align: start;
    color:black;
    font-size: 18px;
  }
  .Profit_money{
    text-align: start;
    color:black;
    font-size: 20px;
    text-decoration:underline;
    margin-top: 8px;
  }
  