.PanelReg{
    margin: 30px;
}
.PanelReg__title{
    text-align: start;
    color:black;
    font-size: 24px;
    margin-bottom: 25px;
  }
.PanelReg_container{
    display: grid;  
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:25px;
    grid-row-gap:25px;
}